@charset "utf-8";

$text-color-lighter: #999999 !default;

.page-content {
    padding-bottom: 56px;
}

.page-footer {
    position: relative;
    z-index: 4;
    margin-top: -56px;
    padding: 0 15px;
    height: 56px;
    background-color: #fff;
    box-shadow:0 0 8px -5px #e5e5e5;
    overflow: hidden;
    .copyright {
        margin: 10px 0;
        padding: 0;
        color: $text-color-lighter;
        text-align: center;
        font-size: 12px;
        line-height: 18px;
    }
}