@charset "utf-8";


$namespace: null !default;


.#{$namespace}panel {
    margin: 10px 0;
    background-color: #fff;
}
.#{$namespace}gap {
    padding: 10px 15px;
}
.#{$namespace}gap + .#{$namespace}panel {
    margin-top: 0;
}