extends /_unit/base-3.0.pug


append data
    - var pageTitle = '消息组件'


append style
    link(rel="stylesheet",type="text/css",href=`${_static('style/ui/3.0/msg.scss')}`)


block pageContent
    main.page-content
        .ui-panel.content-btn-panel
            button#btn-info.ui-btn.bigger.primary.block 普通消息
            button#btn-warn.ui-btn.bigger.primary.block 警告消息
            button#btn-success.ui-btn.bigger.primary.block 成功消息
            button#btn-error.ui-btn.bigger.primary.block 错误消息
        .ui-panel.content-btn-panel
            button#btn-demo.ui-btn.bigger.primary.block 消息示例


append script
    script(src=`${_static('script/entry/ui/3.0/msg.js')}`)