extends /_unit/base-3.0.pug


append data
    - var pageTitle = '选择组件'


append style
    link(rel="stylesheet",type="text/css",href=`${_static('style/ui/3.0/pop-picker.scss')}`)


block pageContent
    main.page-content
        .ui-panel.content-btn-panel
            button#btn-demo.ui-btn.primary.block 示例

append script
    script(src=`${_static('script/entry/ui/3.0/pop-picker.js')}`)