@charset "utf-8";

//配置
@import "variable.scss";
@import "mixin.scss";

.page-content {
    background: url("/style/_asset/image/activity/2018/moon-festival/main-bg.png") no-repeat #283B41;
    background-size: 100% auto;
    height: 100%;
    //width: 375px;
    .wishesAndSignatureCon {
        position: absolute;
        left: 15px;
        top: 83px;
        width: 154px;
        height: 282px;
        .wishesBg {
            width: 154px;
            height: 244px;
            background: url("/style/_asset/image/activity/2018/moon-festival/happy-moon-festival.png") no-repeat;
            background-size: 154px 244px;
            margin-top: 38px;
        }
        .signature {
            color: #fff;
            width: 131px;
            //height: 25px;
            font-size: 0px;
            position: absolute;
            font-weight: bold;
            top: 0px;
            left: 5px;
            display: block;
            text-align: left;
            .nameSpan {
                max-width: 94px;
                //float: left;
                overflow: hidden;
                display: inline-block;
                height: 20px;
                word-break: break-word;
                vertical-align: top;
                font-size: 18px;
            }
            span {
                font-size: 18px;
                vertical-align: top;
            }
            //word-break: break-all;
            //word-wrap:break-word;
            //.line {
            //    height: 29px;
            //    border-right: 1px solid #fff;
            //    float: left;
            //    margin-left: 6px;
            //}
        }
    }
    .mainContentCon {
        position: absolute;
        bottom: 0;//34px;
        //display: flex;
        //flex-direction: column;
        //align-items: center;
        width: 375px;
        left: 50%;
        margin-left: -187px;
        height: 413px;//317px;
        .tipsAndRabbitCon {
            //width: 335px;
            //height: 318px;
            .tipsCon {
                background:  #FFF8DE;
                border-radius: 8px;
                position: relative;
                width: 335px;
                height: 85px;
                //display: flex;
                //align-items: center;
                //justify-content: center;
                margin: 240px auto 0;
                .presentBg {
                    position: absolute;
                    left: 48px;
                    top: 17px;
                    bottom: 14px;
                    background: url("/style/_asset/image/activity/2018/moon-festival/present1.png")  no-repeat;
                    width: 47px;
                    height: 54px;
                    background-size: 100% 100%;
                }
                .msg {
                    position: absolute;
                    right: 36px;
                    top: 23px;
                    color: #ED4C21;
                    font-size: 14px;
                    width: 185px;
                    height: 40px;
                    text-align: center;
                }
            }
            .rabbitBg {
                position: absolute;
                right: 0px;
                top: 62px;
                width: 290px;
                height: 247px;
                background: url("/style/_asset/image/activity/2018/moon-festival/rabbit.png")  no-repeat;
                background-size:290px 194px;
            }
        }
        .transferCon {
            width: 336px;
            //height: 40px;
            text-align: center;
            margin: 15px auto 0;
            .btn {
                height: 40px;
                width: 163px;
                font-size: 15px;
                color: #8A530B;
                background-image: linear-gradient(-135deg, #BF8D4B 0%, #EFC57D 100%);
                border-radius: 22px;
                border: none;
                //margin-top: 15px;
                float: left;
                margin-right: 10px;
            }
            button:only-of-type {
                width: 250px;
                margin-right: 0px;
                float: none;
            }
            :nth-child(2) {
                margin-right: 0px;
            }
        }
    }
    .guideSharePanel {
        position: relative;
        width: 100%;
        height: 100%;
        z-Index:9999;
        //background: url("/style/_asset/image/moon-festival/arrow.jpg") no-repeat #fff;
        //background-position: right top;
        //background-size: 80px auto;
    }
}

.transferWishesFormCon {//传递祝福表单样式
    position: fixed;
    background: url("/style/_asset/image/activity/2018/moon-festival/pannel.png")  no-repeat;
    width: 335px;
    height: 488px;
    background-size: 100% 100%;
    bottom: -488px;
    left: 50%;
    margin-left: -167px !important;
    .titleBg {
        width: 136px;
        height: 29px;
        margin-top: 31px;
    }
    .sendBg {
        background: url("/style/_asset/image/activity/2018/moon-festival/transfer.png") no-repeat;//传递中秋祝福
        background-size: 136px 29px;
    }
    .receiveBg {
        background: url("/style/_asset/image/activity/2018/moon-festival/get-bg.png") no-repeat;//领取新用户红包
        background-size: 136px 29px;
    }
    .cuStart{
        color: #8A530B;
        font-size: 13px;
        margin-top: 19px;
    }
    .tranferNameField , .telNOField{
        width: 200px;
        height: 40px;
        border: 1px #ECC279 solid;
        background: #FFFFFF;
        border-radius: 3px;
        color: #343434;
        font-size: 15px;
        text-align: center;
    }

    .tranferNameField {
        margin-top: 8px;
    }

    .telNOField {
        margin-top: 46px;
    }

    .telNOField::-webkit-input-placeholder {
        color: #ECC279;
        font-size: 15px;
        text-align: center;
    }
    .errorMsg {
        width: 108px;
        height: 17px;
        margin-top: 5px;
        color: #FF4D29;
        font-size: 12px;
    }
    .sendAndReceive {
        width: 200px;
        height:40px;
        border-radius: 22px;
        background-image: linear-gradient(-135deg, #BF8D4B 0%, #EFC57D 100%);
        border: none;
        color: #8A530B;
        font-size: 15px;
    }

    .sendBtn {
        margin-top: 30px;
    }

    .receiveImd{
        margin-top: 8px;
    }

    .tipsCon {
        width: 194px;
        height: 135px;
        margin-top: 80px;
        text-align: center;
        .msg {
            color: #ED4C21;
            font-size: 13px;
        }
        .presentBg {
            width: 69px;
            height: 78px;
            margin-top: 18px;
            background: url("/style/_asset/image/activity/2018/moon-festival/present2.png") no-repeat;
            background-size: 69px 78px;
        }
    }
}

.verticalCenter{
    //display: flex;
    //flex-direction: column;
    //align-items: center;
    text-align: center;
    &>* {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 320px) {
    .mainContentCon, .transferWishesFormCon {
        transform-origin: 50% 100%;
        transform: scale(.85);
    }
}

.hide {
    display: none !important;
}

@keyframes pannelAppear {
    from {bottom: -488px;}
    to {bottom: 0px;}
}

.panelAnimate {
    animation: pannelAppear .5s ease-in-out;
}

.techniqueHide {
    opacity: 0;
}