@charset "utf-8";

@import "variable-2.5.scss";
@import "mixin.scss";


@import "mask.scss";
@import "dialog.scss";
@import "button-2.5.scss";
@import "form.scss";
@import "option-list.scss";
@import "layer.scss";
@import "pop-layer.scss";
@import "picker.scss";
@import "pop-picker.scss";
@import "dt-picker.scss";
@import "tips.scss";
@import "msg.scss";
@import "cascade-picker.scss";


@import "base.scss";

@import "frame.scss";

@import "header.scss";
@import "header-bs.scss";
@import "content.scss";


.page-header + .page-content {
	padding-top: 44px;
}

.fixed-head + .page-content {
	padding-top: 45px;
}

.me-title + .page-content {
	padding-top: 44px;
}