@charset "utf-8";

@import "variable.scss";
@import "mixin.scss";


body {
    font-family: "PingFang SC", "Source Han Sans CN", "Microsoft Yahei", Tahoma, Arial, sans-serif;
}

.list{
    padding: 18px 15px;
}

.inner{
    overflow: hidden;
}

.item{
    float: left;
    width: calc((100vw - 45px) / 2);
    height: 100px;
    margin-bottom: 30px;
    background-color: tan;
    &:nth-of-type(2n+1){
        margin-right: 15px;
    }
}