.page-content {
  padding: 0 30px;
  text-align: center;
  background: #fff;
}
.main-background {
  margin-top: 40px;
  background:  url("/style/_asset/image/activity/2020/everyday-discount/fail.png") no-repeat;
  width: 100%;
  height: 198px;
  background-size: 100% 100%;
}
.title {
  margin-top: 50px;
  font-size: 17px;
  color: #444;
  text-align: center;
}
.message {
  margin-top: 6px;
  font-size: 13px;
  color: #999;
}
.button {
  text-decoration: none;
  display: inline-block;
  line-height: 40px;
  width: 130px;
  height: 40px;
  margin-top: 35px;
  border: 1px solid #4586FF;
  border-radius: 50px;
  margin: 35px auto 0 auto;
  font-size: 15px;
  font-weight: bold;
  color: #4586FF;
  text-align: center;
}
