@charset "utf-8";
.page-content {
    .button-bar {
        margin: 100px 0px 0px 20px;
        button {
            padding: 5px;
            background: white;
            border-radius: 8px;
            border: none;
            outline: none;
            color: cornflowerblue;
            margin: 8px 4px;
        }
    }
    height: 5000px;
}

.tips-personal-class {
    font-size: 15px;
    padding: 20px;
    .info-con {
        color: yellow;
    }
}