@charset "utf-8";

@import "variable-2.5.scss";
@import "mixin.scss";


.content-btn-panel {
    padding: 10px 15px;
    line-height: 54px;
    background-color: #fff;
    .ui-btn.block {
        margin-top: 10px;
        &:first-child {
            margin-top: 0;
        }
    }
}



.authorization-layer {
    .app-logo {
        display: block;
        margin: 0 auto;
        width: 45px;
        height: 45px;
    }
    .desc {
        margin-top: 10px;
        font-size: 15px;
        color: #333;
        line-height: 22px;
        text-align: center;
        .target {
            margin: 0 5px;
            font-weight: bold;
        }
    }
    .info {
        margin-top: 5px;
        font-size: 15px;
        color: #999;
        line-height: 22px;
        text-align: center;
    }
    .authorization-btn {
        margin-top: 40px;
    }
    .tips {
        margin-top: 15px;
        font-size: 11px;
        color: #666;
        line-height: 18px;
        text-align: center;
        a {
            margin: 0 5px;
            color: #3e73ff;
            text-decoration: none;
        }
    }
}







