@charset "utf-8";

@import "variable.scss";
@import "mixin.scss";

.page-content {
    padding-bottom: 56px;
}

.progress-container {
    margin-top: 0;
    padding: 20px 0;
    text-align: center;
    line-height: 300px;
    .progress-wave {
        vertical-align: middle;
    }
}


#test-input {
	&.error {
		border-color: red;
	}
}